*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url(../assets/images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: auto;
    height: 80vh;
    position: relative;
}

.main .background-box{
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 60px;
    padding-top: 10px;
}

nav svg{
    height: 40px;
    fill: red;
    position: relative;
    z-index: 10;
}

nav div .language-selector{
    display: flex;
    border: none;
    color: white;
    
    border: 1px solid white;
    border-radius: 6px;
    width: 95px;
    height: 20px;
    z-index: 1;
}

nav .language-selector select{
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    z-index: 1;
}

nav .sign-in{
    color: white;
    background-color: red;
    font-size: 14px;
    border: red;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
}

nav button{
    position: relative;
    z-index: 10;
}

nav div{
    display: flex;
    gap: 50px;
}


.hero{
    height: calc(100% - 120px - 10px); /* 120px bcz 60+60+10 as we have given padding to the hero section*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    font-family: sans-serif;
    padding: 30px;
    text-align: center;
}

/* > denotes immediate */
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}

.separator{
    height: 7px;
    background-color: rgb(41, 40, 40);
}

.get-started{
    padding:11px 24px;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
    background-color: red;
    color: white;
    border: red;
    cursor: pointer;
}

.email-box{
    text-align: left;
    font-size: 16px;
    padding:8px 24px;
    border-radius: 6px;
    height: 30px;
    width: 350px;
    padding-bottom: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.hero div{
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen  and (max-width: 668px){
    .hero div{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/**/

section{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-left: 170px;
    margin-right: 170px;
    padding-bottom: 90px;
    padding-top: 10px; /*added because the image was covering the separator*/
}

section div span{
    font-weight: 700;
    font-size: 50px;
}

section div div{
    font-weight: 400;
    font-size: 22px;
}

.discription{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-image{
    position: relative;
}

.section-image img{
    position: relative;
    z-index: 10;
}

/*FIRST*/
.first .video{
    position: absolute;
    top: 87px;
    right: 67px;
    scale: 90%;
    z-index: 1;
}

/*SECOND*/
.second video{
    position: absolute;
    top: -17px;
    right: 6px;
    scale: 61%;
}

/*THIRD*/

/*FOURTH*/
.download-aimation{
    position: absolute;
    background-color: black;
    width: 52.5%;
    height: 105px;
    top: 341px;
    left: 152px;
    border: 2px solid rgba(128,128,128,0.7);
    border-radius: 12px;
    z-index: 11;
}

.download-aimation div .cover img{
    scale: 44%;
    top: -52px;
    right: 32px;
}

.download-aimation div span span{
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 34px;
    right: 128px;
}

.download-aimation div span div{
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 54px;
    right: 148px;
    color: rgb(0, 113, 235);
}

.download-aimation span img{
    position: absolute;
    top: 2px;
    right: 8px;
    scale: 53%;
}

@media screen and (max-width: 1300px){
    section{
        flex-wrap: wrap;
    }
    section .discription{
        padding-top: 50px;
    }
}


 /**/
.faqs{
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.faqs p{
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 50px;
    text-align: center;
}

.faqs div{
    width: 76vw;
    height: 80px;
    background-color: rgb(45,45,45);
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.faqs div:hover{
    background-color: #414141;
}

.faqs-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.faqs-end p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 22px;
}

.faqs-end span{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 950px){
    .faqs-end span{
        flex-direction: column;
    }
}

/**/
footer{
    padding: 85px 85px 85px 85px;
    
}
footer span{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 6.25vw;
    margin-bottom: 20px;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid .items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80vw;
    margin: auto;
    padding-top: 23px;
    padding-bottom: 45px;
}

.items a{
    color: rgba(255, 255, 255, 0.7);
}

.language-selector{
    display: flex;
    border: none;
    color: white;
    
    border: 1px solid grey;
    padding: 8px 15px;
    border-radius: 6px;
    width: 95px;
}

.language-selector select{
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
}

@media screen and (max-width: 1000px){
    .footer-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .footer-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
    } 
}

@media screen and (max-width: 500px) {
    .hero :first-child{
        font-size: 32px;
    }

    .hero :nth-child(2){
        font-size: 18px;
    }
    .hero :nth-child(3){
        font-size: 18px;
    }

    section{
        margin-left: 100px;
        margin-right: 100px;
    }
    section .discription span{
        font-size: 32px;
        
    }
    section .discription div{
        font-size: 18px;
    }
    
    .get-started{
        scale: 80%;
    }
    .email-box{
        scale: 80%;
    }

    img{
        scale: 100%;
    }
    video{
        scale: 80%
    }

    nav{
        justify-content: center;
        flex-wrap: wrap;
    }
    nav div{
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .section-image{
        scale: 0.6;
    }

    .faqs div{
        height: 50px;
        font-size: 20px;
    }
}